body{
    width: 85%;
    margin: auto;
    background-color: beige;
}

header{
    width: fit-content;
    margin: auto;
}

.titre{
    font-size:4vw;
}

h1 img{
    width:6vw ;
    height:6vw;
    margin:auto;
    vertical-align: middle;
}

.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    font-size: 1.3vw;
    margin-top: 4vw;
}

.score{
    background-color: black;
    width: 50%;
    height: 55vh;
    margin: auto;
    margin-right:1vw;
    color: white;
    padding: 1.5vw;
    border-radius:3vw;
}

.classement{
    background-color: white;
    width: 50%;
    height: 55vh;

    margin: auto;  
    margin-left: 1vw; 
    padding: 1.5vw;
border-radius:3vw;
padding-left:2vw ;

}
.classement p{
max-width: 75%;
width: fit-content;



}

.container h2 {
    font-size: 3vw;
}



/* table style */

table {
	width: 95%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
    margin: auto;
    border-radius: 1.2vw;
    height: 60%;
}

th, td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: left;
}

thead th{
    background-color: #8F76A8   ;	
    color:black;	
    font-size: 1.2vw;	
    font-weight: bolder;
}



tbody tr{		
			background-color: #e9e9ce;
            
        }

tbody td{
    color:black;
}

td {
    position: relative;
    
}

td:hover::before  {    
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -9999px;
        bottom: -9999px;
        background-color: rgba(182, 143, 143, 0.2);
        z-index: -1;
   
}

tr:hover {
    background-color: #8F76A8;
}